:root {
    --grey: #526D82;
    --turquiose: #87CBB9;
    --lightBlue: #526D82;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Header */
.header {
    background-color: var(--grey);
    padding: 1rem;
    position: relative;
    z-index: 2;
}

.header h1 {
    background-color: var(--turquiose);
    color: var(--grey);
    font-size: 3rem;
    margin-left: -1rem;
    padding: 0 0.5rem 0 3rem;
}

.header h1 {
    display: inline-block;
}

.header ul {
    float: right;
    list-style-type: none;
    margin-top: 0.75rem;
}

.header ul li {
    display: inline-block;
    margin-right: 0.75rem;
}

.header ul li a{
    color: var(--turquiose);
    font-size: 1.5rem;
}

/* Front Page Image */
.frontPageImage {
    padding-bottom: 0;
}

.frontPageImage img{
    max-width: 100%;
    position: relative;
    top: -200px;
    z-index: 0;
    padding-bottom: 0;
}

/* About Me */
.aboutMe {
    display: flex;
    transform: translate(0, -150px);
}

.aboutMe h2 {
    border-right: .25rem solid var(--lightBlue);
    color: var(--lightBlue);
    font-size: 3rem;
    padding-right: 1rem;
    text-align: right;
    width: 20%;
}

.aboutMe p {
    margin-left: 1rem;
    width: 75%;
}

/* Work */